;; ~/.emacs.d/yatex.el

(autoload 'yatex-mode "yatex" "Yet Another LaTeX mode" t)
(setq auto-mode-alist
      (append
        '(("\\.\\(tex\\|sty\\|cls\\|fd\\|ind\\|idx\\|ltx\\|clo\\|bbl\\)$" .
           yatex-mode)) auto-mode-alist))
(setq tex-command "latexmk -silent"
      dvi2-command "open -a Skim"
      makeindex-command "mendex -U"
      bibtex-command "pbibtex -kanji=utf8"
      dviprint-command-format "dvips %s | lpr"
      YaTeX-use-AMS-LaTeX t ; AMS-LaTeX
      YaTeX-use-LaTeXe t ; AMS-LaTeX
      YaTeX-use-font-lock t
      YaTeX-kanji-code 4 ; (1 JIS, 2 SJIS, 3 EUC, 4 UTF-8)
      YaTeX-latex-message-code 'utf-8
      YaTeX-skip-default-reader nil
      YaTeX-default-pop-window-height 10
      section-name "documentclass"
)
;; use \C-c [yatex:04567]
(setq YaTeX-inhibit-prefix-letter nil)
;; completion table
(setq YaTeX-user-completion-table "~/.emacs.d/yatexrc")
(defun use-skk-in-yatex ()
  (when (eq major-mode 'yatex-mode)
    (define-key skk-j-mode-map "\\" 'self-insert-command)
    (define-key skk-j-mode-map "$" 'YaTeX-insert-dollar)))
;; skk-mode
(add-hook 'skk-mode-hook 'use-skk-in-yatex)
;; turn-off auto-fill-mode
(add-hook 'yatex-mode-hook 'turn-off-auto-fill)
;; flyspell
(require 'flyspell)
(add-hook 'yatex-mode-hook 'flyspell-mode)
;; auto-complete-latex
(el-get-bundle 'auto-complete-latex)
(require 'auto-complete-latex)
(setq ac-l-dict-directory "~/.emacs.d/auto-complete/latex/")
(add-to-list 'ac-modes 'yatex-mode)
(add-hook 'yatex-mode-hook 'ac-l-setup)

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Local Variables:
;; mode: emacs-lisp
;; End:
